td {
  width: 120px;
  height: 120px;
  border: 1px solid #d3d3d3;
  background-color: #f5f5f5;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameContainer {
  text-align: center;
}

#cellContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 225px;
  margin: auto;
}

.td {
  display: block;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 375px;
  height: 375px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}
.container div {
  width: 100%;
}
.container .start button {
  width: 45%;
  border: 0;
  padding: 6px;
}

.display {
  display: none;
}