@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: 'MYArirang-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYArirang-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-weight: 300;
  font-size: 1.05rem;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
}

/*  */
.btn {
  font-family: inherit;
  outline: 0;
  font-size: 1.05rem;
}

.text {
  opacity: 0.8;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.meal_item {
  border-radius: 1rem;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
}
.meal_item .meal_img img {
  width: 100%;
  display: block;
}
.meal_item .meal_name {
  padding: 1.5rem 0.5rem;
}
.meal_item .meal_name h3 {
  font-size: 1.4rem;
  text-align: center;
}

/*  */
.container {
  min-height: 100vh;
}

.meal_wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background: #fff;
  text-align: center;
}
.meal_wrapper .meal_search {
  margin: 2rem 0;
}
.meal_wrapper .meal_searchcite {
  font-size: 1rem;
}
.meal_wrapper .meal_search_box {
  width: 100%;
  margin: 1.2rem auto;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.meal_wrapper .meal_search--content {
  padding: 0 1rem;
  font-size: 1.1rem;
  font-family: inherit;
  outline: 0;
  border: 1px solid #d65108;
  color: #d65108;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.meal_wrapper .meal_search--content ::placeholder {
  color: #d65108;
}
.meal_wrapper .meal_search--btn {
  cursor: pointer;
  width: 60px;
  height: 55px;
  font-size: 1.2rem;
  background: #d65108;
  color: #fff;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.meal_wrapper .meal_search--btn :hover {
  background: #b54507;
}

#pro {
  display: flex;
}
#pro #today_meal {
  width: 40%;
}
#pro #today_meal p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  font-weight: 600;
  display: block;
}
#pro #today_meal #meal_choice {
  margin-bottom: 2.5rem;
}
#pro #today_meal #meal_choice .meal_today {
  margin: 0 auto;
}
#pro #meal_options {
  width: 60%;
}
#pro #meal_options b {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  font-weight: 600;
  display: block;
}
#pro #meal_options #meal_category {
  width: 100%;
}
#pro #meal_options #meal_category .meal_option {
  width: 20%;
  display: inline-block;
  padding: 6px 8px;
}
#pro #meal_options #meal_category .meal_option h3 {
  font-size: 1rem;
}
#pro #meal_options #meal_category .meal_option .meal_item {
  padding: 10px;
}
#pro #meal_options #meal_category .meal_option .meal_item .meal_name {
  padding: 0;
}
#pro #meal_options #meal_category .meal_option .meal_item .meal_name h3 {
  font-size: 0.8rem;
  word-break: break-all;
}

.meal_result {
  margin: 4rem 2.4rem 0 2.4rem;
}
.meal_result #meal {
  margin: 2.4rem 0;
  cursor: pointer;
}
.meal_result .recipe_btn {
  text-decoration: none;
  text-align: center;
  color: #fff;
  background: #d65108;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.75rem 0;
  display: block;
  width: 175px;
  margin: 1rem auto;
  border-radius: 2rem;
  transition: all 0.4s linear;
}
.meal_result .recipe_btn:hover {
  background: #b54507;
}

/* meal details */
.meal_details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: #fff;
  background: #d65108;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  width: 90%;
  height: inherit;
  overflow-y: scroll;
  display: none;
  padding: 2rem;
}

.meal_details::-webkit-scrollbar {
  width: 10px;
}

.meal_details::-webkit-scrollbar-thumb {
  background: #f0f0f0;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

/* js related */
.showRecipe {
  display: block;
}

.meal_details-content {
  margin: 2rem;
}

.meal_details-content p:not(.recipe-category) {
  padding: 1rem 0;
}

.recipe_close_btn {
  cursor: pointer;
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 1.8rem;
  background: #fff;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}

.recipe_title {
  letter-spacing: 1px;
  padding-bottom: 1rem;
}

.recipe_category {
  background: #fff;
  font-weight: 600;
  color: #d65108;
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.recipe_category {
  background: #fff;
  font-weight: 600;
  color: #d65108;
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.recipe_intruct {
  padding: 1rem 0;
}

.recipe_meal_img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 2rem auto;
  display: block;
}

.recipe_link {
  margin: 1.4rem 0;
  text-align: center;
}

.recipe_link a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.recipe_link a:hover {
  opacity: 0.8;
}

/*  */
.notFound {
  grid-template-columns: 1fr !important;
  color: #d65108;
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
}

/* Media Queries */
@media screen and (min-width: 600px) {
  .meal_search_box {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  #meal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .meal_item {
    margin: 0;
  }
  .meal_details {
    width: 700px;
  }
}
@media screen and (min-width: 992px) {
  #meal {
    grid-template-columns: repeat(3, 1fr);
  }
}/*# sourceMappingURL=style.css.map */