/* reset css */
@import url('https://webfontworld.github.io/neodgm/NeoDunggeunmo.css');
@import url('https://webfontworld.github.io/DungGeunMo/DungGeunMo.css');
@import url('https://webfontworld.github.io/PyeongChang/PyeongChang.css');
@import url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #222;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
li,
ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
}

em {
  font-style: normal;
}
body {
  background: radial-gradient(#a4a4a4 3px, transparent 4px);
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

#container {
  width: 100%;
}
#first,
#content,
#end {
  margin: 0 auto;
  width: 500px;
}
#first img {
  width: 300px;
  margin: 0 auto;
}
