/* reset css */
@import url('https://webfontworld.github.io/neodgm/NeoDunggeunmo.css');
@import url('https://webfontworld.github.io/DungGeunMo/DungGeunMo.css');
@import url('https://webfontworld.github.io/PyeongChang/PyeongChang.css');
@import url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #222;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
li,
ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
}

em {
  font-style: normal;
}
body {
  background: radial-gradient(#a4a4a4 3px, transparent 4px);
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}
/* first */
#first{
  text-align: center;
}
#first p {
  width: 100%;
  font-size: 36px;
  font-family: 'NeoDunggeunmo';
  color: #3b3b3b;
  padding: 16px;
  text-align: center;
}
#first p span {
  color: red;
}
#first img{width: 62%; border-radius: 10px;}
.start {
  width: 100%;
  border-radius: 16px;
  color: white;
  font-size: 18px;
  font-family: 'DungGeunMo';
  background-color: #3b3b3b;
  padding: 16px;
  box-sizing: border-box;
  margin-top: 22px;
  cursor: pointer;
}

/* quiz_header */
.quiz_header {
  width: 100%;
  text-align: center;
  font-size: 50px;
  padding-bottom: 16px;
  font-family: 'DungGeunMo';
}
/* quiz_choice */
.quiz_choice{margin: 16px 0;}
.quiz_choice div{margin: 6px 0; cursor: pointer;}
.quiz_img img{border-radius: 10px;}
.quiz_choice p {
  width: auto;
  display: inline-block;
  font-size: 16px;
}
.quiz_choice label{
  font-family: 'PyeongChang';
}
.quiz_choice label span, p{font-size: 18px; cursor: pointer; }

/* quiz__desc */
.quiz__desc{padding: 16px; background-color: #a4a4a4; border-radius: 10px;}
.quiz__desc div{font-family: 'DungGeunMo'; font-size: 18px; color: #fff;}
/* header */
#header {
  background-color: #d3d3d3;
  color: #fff;
  padding: 10px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#header::before {
  content: '';
  border: 4px ridge #ccc;
  position: absolute;
  left: 5px;
  top: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}
#header h1 {
  font-size: 28px;
  padding: 5px 5px 5px 10px;
  font-family: 'DungGeunMo';
  z-index: 10;
  position: relative;
}
#header h1 a {
  color: #fff;
}
#header h1 em {
  font-size: 0.5em;
}
#header ul {
  padding: 5px;
}
#header li {
  display: inline;
  z-index: 10;
  position: relative;
}
#header li a {
  color: #fff;
  font-family: 'DungGeunMo';
  border: 1px dashed #fff;
  display: inline-block;
  padding: 5px;
}
#header li.active a,
#header li a:hover {
  background-color: #fff;
  color: #666;
}

/* footer */
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d3d3d3;
  text-align: center;
}
#footer a {
  color: #fff;
  padding: 20px;
  display: block;
  font-family: 'DungGeunMo';
  z-index: 10;
  position: relative;
}
#footer ::before {
  content: '';
  border: 4px ridge #333;
  position: absolute;
  left: 5px;
  top: 5px;
  width: calc(100% - 16px);
  height: calc(100% - 12px);
}

/* container */
#container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 20px;
  width: 500px;
  background-color: #fff;
  margin: 10px;
  /* background-color: #d3d3d3; */
  border: 3px solid #ccc;
  border-radius: 16px;
  height: 660px;
}
.container .quiz {
}
.quiz__header {
}
.quiz__title {
  background-color: #d3d3d3;
  border: 3px ridge #ccc;
  border-bottom-width: 6px;
  padding: 5px;
  font-family: 'DungGeunMo';
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}
.quiz__main {
}
.content {
  color: #3b3b3b;
  padding: 20px;
  font-size: 24px;
  font-family: 'NanumSquareNeo';
  font-weight: bold;
  line-height: 1.5;
  border-bottom: 6px ridge #ccc;
}
.quiz__question em {
  color: #333;
}
.quiz__answer{margin-top: 16px;}
.quiz__answer button{
  font-family: 'NanumSquareNeo';
  padding: 16px;
  text-align: center;
  font-size: 16px;
  margin: 0 auto;
  width: 30%;
  background-color: #ededed;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#end{text-align: center;}

.score{font-size: 36px; font-family: 'DungGeunMo';}
#end img{border-radius: 10px; width: 100%; margin: 22px 0;}

.replay{
  width: 100%;
  border-radius: 16px;
  color: white;
  font-size: 18px;
  font-family: 'DungGeunMo';
  background-color: #3b3b3b;
  padding: 16px;
  box-sizing: border-box;
  cursor: pointer;
}





.quiz__answer .confirm {
  cursor: pointer;
  background-color: #f5f5f5;
  border: 3px ridge #ccc;
  width: 100%;
  font-family: 'NanumSquareNeo';
  padding: 10px 20px;
  font-size: 22px;
  transition: all 0.3s;
  text-shadow: 1px 1px 0 #c2c2c2;
  font-weight: 700;
}
.quiz__answer .confirm:hover {
  background-color: #e2e2e2;
}
.quiz__answer .result {
  /* display: none; */
  background-color: #fff;
  border: 3px ridge #ccc;
  width: 100%;
  font-family: 'NanumSquareNeo';
  padding: 10px 20px;
  font-size: 22px;
}
.quiz__view {
  border-bottom: 6px ridge #cacaca;
}
.quiz__footer {
}
