//break point
$padding: 12px;
$btnBack: #c6c6c6;
$radius: 4px;
$height: 32px;

.abled {
  background-color: #020202 !important;
  cursor: pointer !important;
}

@mixin btn($width: 60px, $height: 32px, $color: #fff) {
  border: none;
  background-color: #{$btnBack};
  border-radius: #{$radius};
  cursor: pointer;
  @if ($width == 60) {
    width: 60px;
    height: #{$height};
    color: #fff;
  } @else {
    width: $width;
    height: $height;
    color: $color;
  }
}
//common

.hidden {
  display: none;
}

/////
body {
  margin: 0 auto;
  padding: 0;
}

/* 테이블 행 */
.title {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  th {
    background-color: #1b1b1b;
    color: #ddd;
    height: 30px;
    line-height: 30px;
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
      text-align: center;
    }
  }
}

/* 테이블 올렸을 때 */
tbody tr:hover {
  background-color: #d3d3d3;
  opacity: 0.9;
  cursor: pointer;
}

/* 테이블 비율 */
th:nth-child(1),
td:nth-child(1) {
  width: 5%;
}

th:nth-child(2),
td:nth-child(2) {
  width: 30%;
}

th:nth-child(3),
td:nth-child(3) {
  width: 55%;
}

tr:nth-child(even) {
  background-color: #fff6f6;
}

//sub
.sub_main {
  & tr {
    :hover {
      background: #fff6f6;
      cursor: default;
    }
  }
  .sub_title {
    div {
      display: inline-block;
    }
    .table_name {
    }
    .table_title {
    }
    .table_date {
    }
  }
  .table_body {
    height: 450px;
  }
}
.sub {
  float: right;
  padding: #{$padding};
  a {
    cursor: pointer;
    :hover {
      font-weight: bold;
    }
  }
}

.comment {
  padding: #{$padding};
  .comment_sub {
    input {
      width: 80%;
      border: 1px solid #ededed;
      padding: 8px;
    }
    button {
      @include btn;
    }
  }
}
